<div class="section" id="aboutme"><!--   BACKGROUND -->
  <h2>A BIT ABOUT ME</h2>

  <div class="aboutme-row"><!-- Row 1 -->
    <div class="aboutme-panel-top">
      <div class="aboutme-panel-container">
        <div class="aboutme-panel-content">
          <%= image_tag "family-square.JPG", class: "aboutme-pic" %>
          <h6>Growing Up</h6>
          <p>Born in New Zealand, raised in the UK. I also have Swiss, Australian and Cook Island blood in me. I grew up reading the musings of <%= link_to "Bill Bonner", "http://www.dailyreckoning.com", target: "_blank" %> and have been some variation of libertarian ever since.
        </div>
      </div>
    </div>

    <div class="aboutme-panel-top">
      <div class="aboutme-panel-container">
        <div class="aboutme-panel-content">
          <%= image_tag "graduation-square.jpg", class: "aboutme-pic" %>
          <h6>School</h6>
          <p>Obtained my BA in Economics from the <%= link_to "University of Leicester", "http://www.le.ac.uk", target: "_blank" %> and then came top of my Masters in Finance program at <%= link_to "Cass Business School", "http://www.cass.city.ac.uk", target: "_blank" %>. I met and worked with some fantastic people at Cass, including these <%= link_to "guys", "http://www.cass.city.ac.uk/news-and-events/news/2011/july/cass-students-breeze-to-victory-with-business-plan-idea", target: "_blank" %></a>.
        </div>
      </div>
    </div>

    <div class="aboutme-panel-top">
      <div class="aboutme-panel-container">
        <div class="aboutme-panel-content">
          <%= image_tag "office-square.JPG", class: "aboutme-pic" %>
          <h6>Work</h6>
          <p>Joined the good chaps at <%= link_to "Barclays", "http://www.barclays.com", target: "_blank" %> after graduating. I worked in several roles including investment management, FX and private banking and spent time in the UK and Hong Kong offices. I left after 2 years to start a new chapter.
        </div>
      </div>
    </div>
  </div><!-- /Row 1 -->

  <div class="aboutme-row"><!-- Row 2 -->
    <div class="aboutme-panel-bottom">
      <div class="aboutme-panel-container">
        <div class="aboutme-panel-content">
          <%= image_tag "ghanavillage-square.jpg", class: "aboutme-pic" %>
          <h6>Ghana & China</h6>
          <p>I jumped at the chance to live in Africa and worked as a volunteer consultant for a small microbank in Accra, Ghana for 4 months. I then went back to the UK to complete the <%= link_to "CFA Program", "http://www.cfainstitute.org", target: "_blank" %> before moving to Shanghai.
        </div>
      </div>
    </div>

    <div class="aboutme-panel-bottom">
      <div class="aboutme-panel-container">
        <div class="aboutme-panel-content">
          <%= image_tag "rio.JPG", class: "aboutme-pic" %>
          <h6>Travel</h6>
          <p>It's cliche but exploring the world is one of my favourite things to do. My favourite destinations include Aitutaki, Berlin, Siem Reap and Taipei. Currently top of the bucket list: Myanmar and Israel.</p>
        </div>
      </div>
    </div>

    <div class="aboutme-panel-bottom">
      <div class="aboutme-panel-container">
        <div class="aboutme-panel-content">
          <%= image_tag "max-square.JPG", class: "aboutme-pic" %>
          <h6>Sports</h6>
          <p>Football fan. Supported Man United since I was little and adopted MK Dons when they became my local team as a teenager. My younger brother is Oxford United goalkeeper <%= link_to "Max Crocombe", "http://www.twitter.com/meeiix", target: "_blank" %>. 
        </div>
      </div>
    </div>
  </div><!-- /Row 2 -->




</div><!-- /BACKGROUND -->