<div id="homecontainer"><!-- HOME BANNER -->
  <div id="home">
    <div class="row">

      <div class="col-md-4">
        <%= image_tag "ryan-hk.JPG", class: "profilepic" %>
      </div>

      <div class="col-md-8">
        <h1>
          Ryan Crocombe
        </h1>
        <hr class="divider">
        <%= render 'socialmedia' %>
      </div>

    </div>
  </div>                  
</div><!-- /HOME BANNER -->


<div class="pagecontainer">

	<%= render 'intro' %>
	<hr class="divider">
	<%= render 'ventures' %>
	<hr class="divider">
	<%= render 'cv' %>
	<hr class="divider">
	<%= render 'bucketlist' %>
	<%= render 'outro' %>
</div>

<footer><!-- FOOTER -->

  <div class="row">
    <div class=" col-xs-5">
      <a href="#home"><p style="text-align:left">Back to top</p></a>
    </div>
    <div class="col-xs-7">
      <p style="text-align:right">ryancrocombe.com | 2016</p>
    </div>
  </div>
</footer><!-- /FOOTER -->


